* {
    box-sizing:border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
}

#header-1 {
    background-color: #3498db;
}

.search-area {
    width: 25%;
    height: 50rem;
    display: flex;
    position: absolute;
    margin-left: 2%;
    flex-wrap: nowrap;
    flex-direction: column;
}

button {
    border: none;
    margin-top: 4%;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

#history {
text-align: center;
width: 100%;
height: 70rem;
border-top: 3px black;
margin-top: 10px;

margin-inline-end: inherit;
}

#history>p {
    border: 2px solid black;
    background-color: grey;
    color: black;
    opacity: 65%;
    margin-top: 10px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
}

.current-weather {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 70%;
    margin-left: 28%;
    place-items: start;
}

.current-weather>img {
    height: 7px;
}

.future-forecast {
    width: 75%;
    height: 35rem;
    margin-left: 28%;
    place-items: start;
}

.card {
    border: 2px solid;
    width: 17%;
}

